In [7]:
import pandas as pd

file_path = "books.csv"
df = pd.read_csv(file_path)

print("Shape before cleaning:", df.shape)
df.info()
df.head()

Shape before cleaning: (1000, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               1000 non-null   object
 1   author_names        1000 non-null   object
 2   first_publish_year  992 non-null    float64
 3   edition_count       1000 non-null   int64
 4   cover_id            370 non-null    float64
 5   key                 1000 non-null   object
 6   isbn                1000 non-null   object
 7   subject             1000 non-null   object
 8   cover_path          370 non-null    object
dtypes: float64(2), int64(1), object(6)
memory usage: 70.4+ KB

,title,author_names,first_publish_year,edition_count,cover_id,key,isbn,subject,cover_path
0,Artificial intelligence,"['Stuart J. Russell', 'Peter Norvig']",1994.0,39,92018.0,/works/OL2896994W,[],[],ol_data\images\works_OL2896994W-M.jpg
1,Artificial intelligence,['Patrick Henry Winston'],1977.0,7,135105.0,/works/OL2024373W,[],[],ol_data\images\works_OL2024373W-M.jpg
2,Artificial intelligence,['Elaine A. Rich'],1983.0,3,55159.0,/works/OL4453349W,[],[],ol_data\images\works_OL4453349W-M.jpg
3,Artificial Intelligence and Intelligent Systems,['N. P. Padhy'],2005.0,1,128294.0,/works/OL5878924W,[],[],ol_data\images\works_OL5878924W-M.jpg
4,Artificial Intelligence and Soft Computing,['Leszek Rutkowski'],2012.0,34,8619487.0,/works/OL19827983W,[],[],ol_data\images\works_OL19827983W-M.jpg

In [18]:
threshold = len(df) * 0.5
df = df.dropna(thresh=threshold, axis=1)

for col in df.columns:
    if df[col].dtype == 'object':
        df[col].fillna(df[col].mode()[0], inplace=True)
    else:
        df[col].fillna(df[col].median(), inplace=True)

print("Missing values handled successfully.")

Missing values handled successfully.

C:\Users\parih\AppData\Local\Temp\ipykernel_10980\3698185757.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
C:\Users\parih\AppData\Local\Temp\ipykernel_10980\3698185757.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)

In [20]:
df.drop_duplicates(inplace=True)
print("Duplicates removed.")

Duplicates removed.

In [22]:
def clean_text(x):
    if isinstance(x, str):
        return " ".join(x.strip().split())
    return x

df = df.applymap(clean_text)
print("Text columns cleaned.")

C:\Users\parih\AppData\Local\Temp\ipykernel_10980\280364139.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(clean_text)

Text columns cleaned.

In [24]:
for col in df.select_dtypes(include=['object']).columns:
    try:
        df[col] = df[col].astype(float)
    except:
        pass

print("Data types adjusted.")

Data types adjusted.

In [26]:
cleaned_path = "cleaned_data.csv"
df.to_csv(cleaned_path, index=False)

print("✅ Data Cleaning Complete!")
print("Shape after cleaning:", df.shape)
print("Saved cleaned dataset as:", cleaned_path)

✅ Data Cleaning Complete!
Shape after cleaning: (1000, 7)
Saved cleaned dataset as: cleaned_data.csv